@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* color: #333333; */
    text-decoration: none;
    list-style: none;
    /* overflow-x: hidden; */
}
/* #########################################Navigation############################################## */
header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#181824;
    color: #333333;
    padding: 1rem 5%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    z-index: 1;
}
.logo-text a{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: #6e57d4;
    letter-spacing: 2px;
    cursor: pointer;
}
.menu{display: none;}
.nav-list ul{
    display: flex;
}
.nav-list ul li a{
    padding: 0.5rem 1.4rem;
    margin: 0 0.8rem;
    font-size: 1.063rem;
    cursor: pointer;
    display: block;
    color: #f2f1e6;
    border: 0;
}
.nav-list ul li a:hover{
    border-bottom: 2px solid #6e57d4;
}  
.nav-list ul li .resume-btn{
    border-radius: 8px;
    border: 2px solid #7562E0;
    background:  #7562E0;
    color:  #f2f1e6;
    transition: .5s;
}
.nav-list ul li .resume-btn:hover{
    background: #181824;
    color: #f2f1e6;
    border: 2px solid #7562E0;
}



/* #############About Section############## */

.sec-1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #1a1a29;
    /* background: yellow; */
}
.profile-img img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;
}
.intro-text h1{
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0 1.2rem 0;
    color:  #f2f1e6;
}
.intro-text h2{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    /* color: #6e57d4; */
    margin-bottom: 1.5rem;
    color:  #7562E0;;
}
.social-links {
    text-align: center;
    margin-bottom: 4rem;
}
.social-links a{
    font-size: 1.8rem;
    padding: 0 0.5rem;
    transition: .5s;
    color: #f2f1e6;
}
.social-links a:hover{
    color:  #7562E0;
    font-size: 2.5rem;
}
.down-arrow{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #f2f1e6;
    z-index: 0;
}
.down-arrow i{
    color: #6e57d4;
}
/* ////////////////////animation///////////////////// */
.down-arrow {
    animation-name: bounce ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* ///////////////////////section-2//////////////////// */
.sec-2{
    /* border: 1px solid red; */
    /* background: #cccccc; */
    background: #1a1a29;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}
.about{
    padding: 4%;
    height: 36.89rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px solid #7562E0;
    width:10rem ;
    font-size: 2rem;
    margin: 0 auto 4rem auto;
    color: #f2f1e6;
}
.about p{
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #bcbac4;
}
.message-link a{
    color:  #7562E0;
    font-weight: bold;
    
}
.dev-cov{
    padding: .5rem;
    background: #1a1a29; 
    /* border-top: 1px solid #cccccc; */
    /* border-bottom: 1px solid #cccccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36.89rem;
}
.dev-img{
    width: 100%;
    margin: auto;
    height: 100%;
    display: block;
    background:#1a1a29; 
}
.dev-img img{
    width: 100%;
    height: 100%;
}

/* ######################################section 3 */
.sec-3{
    padding: 5%;
    background: #1a1a29; 
    /* background-color: #cccccc; */
}
.skill h4{
    margin: 1rem .5rem;
    text-align: center;
    background: #6e57d4;
    color:#f2f1e6;
    padding: 1rem 0;
    border-radius: 5px;
    
}
.one{order: 2;}
.two{order: 1;}

/* ////////////////////////////////////////////// */
/* section 4 */
/* ////////////////////////////////////////////// */
hr{
    background-color: #4f4f4f;
    height: 1px;
    border: 0;
}
.sec-4, .sec-5,.project-space{
    background: #1a1a29;
    padding: 4%;
}
/* .col-img, .col-text{border: 1px solid red;} */
.project-img{
    width: 90%;
    height: 25rem;
    /* border-radius: 50%; */
    border: 4px solid#181824;
    display: block;
    margin: auto;
}
.project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
    opacity: 1;
    transition: .5s;
    /* border-radius: 50%; */
}
.project-img img:hover{
    opacity: .8;
}
.col-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
}
.icons-div{
    font-size: 1.8rem;
    color: #f2f1e6;;
}
.icons-div i{
    color: #f2f1e6;;
}
.project-content h3{
    padding: .3rem 0;
    font-size: 1.2rem;
    color: #f2f1e6;
}
.project-content p{
    font-size: 1rem;
    color:#bcbac4; 
}
.project-content button{
    padding: .6rem .8rem;
    border: 1px solid #4f4f4f;
    border-radius: 2px;
    background:   #7562E0;
    color: #f2f1e6;
    border: 1px solid #7562E0;
    margin:.9rem .3rem 0 0 ;
    transition: .5s;
}
.project-content button a{
    color:#f2f1e6; ;
}
.project-content button:hover{
    background: #1a1a29;
    border: 1px solid #7562E0;
}
.icon{
    padding-left: .5rem;
    font-size: 1rem;
    color: #f2f1e6;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* MESSAGE SECTION */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background: #1a1a29;
}
.form-box{
    /* width: 30rem; */
    /* width: 500px; */
    width: 50%;
    overflow: hidden;
    padding: 1.3rem;
    background:  #1a1a29;
    border: 2px solid #6e57d4;
    box-shadow: 0 0 6px #0004;
    border-top: 10px solid #6e57d4;
}
.title{
    display: block;
    font-weight: 600;
    margin: 20px 0 20px;
    border: 2px solid  #6e57d4;
    color: #f2f1e6;
    font-size: 1.5rem;
    text-align: center;
    padding: 3px;
}
label{
    color: #f2f1e6;;
}
.form-box form{
    padding: 20px 0 10px;
}
/* .flex{
    display: flex;
} */
form .input-box{
    width: 100%;
    padding: 0 10px;
}
form .input-box input,
form .message textarea{
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
    background-color: #f2f1e6;
}
form .input-box input:focus,
form .message textarea:focus{
    border-color: #6e57d4;
    outline-color: #6e57d4;;
}
form .message textarea{
    height: 150px;
    line-height: 1.6;
    resize: none;
    overflow-y:auto;
}
.form-box .send{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:-webkit-fill-available;
    color: #f2f1e6;
    background:#6e57d4;
    font-weight: bold;
    outline: none;
    border: 2px solid #6e57d4;
    margin: 20px 10px 10px;
    cursor: pointer;
    padding: .54rem;
    font-size: 1.1rem;
    transition: .6s;
}
.form-box .send:hover{
    background: #1a1a29;
    color: #6e57d4;
}
.form-box .send i{
    margin-right: 5px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* FOOTER */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

footer .footer-text{
    width: 100%;
    /* height: 7vh; */
    padding: 5px;
    font-size: 1rem;
    background:#181824;
    color:#bcbac4; 
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .3%;
    margin-bottom: 0;
}

footer .footer-text p{
    text-align: center;
}
footer .footer-text p .space{
    padding-left: 5px;
}










/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* RESPONSIVE 900PX */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width: 900px) {
    /* @media screen and (max-width: 800px) { */
    
        .menu{
            display: block;
            cursor: pointer;
        }
        .menu .line{
            width: 1.875rem;
            height: 0.188rem;
            background:#6e57d4;
            margin: 0.375rem 0;
        }
        .menu.active .line:nth-child(2){
            opacity: 0;
        }
        .menu.active .line:nth-child(1){
            transform: translateY(9px) rotate(45deg);
        }
        .menu.active .line:nth-child(3){
            transform: translateY(-9px) rotate(-45deg);
        }
        /* .nav-list{display: none;} */
        .nav-list{
            /* height: 350px;  */
            height: 0; 
            position: absolute;
            top: 3.688rem;
            left: 0;
            right: 0;
            width: 100vw;
            background: #181824;
            transition: 0.5s;
            overflow: hidden;
            margin: 0 auto;
        }
        .nav-list.active{height: 400px;}
        .nav-list ul{
            width: fit-content;
            display: block;
            margin: 3.125rem auto 0 auto;
            text-align: center;
            opacity: 0;
        }
        .nav-list.active ul{opacity: 1;}
        .nav-list ul li a{
            margin-bottom: 1.5rem;
        }
        .row{display: flex;}
        .col-text{
            order: 2;
        }
        .col-img{
            order: 1;
        }
        .project-img{
            width: 90%;
            height: 15rem;
        }
        form .input-box{
            width: 100%;
        }
        form .input-box input,
        form .message textarea{
            width: 100%;
        }
        .form-box{
            width: 95%;
            overflow: hidden;
            padding: .4rem;
        }
        .col-text{
            height: 16rem;
        }    
        .dev-cov{
            height: auto;
            margin-bottom: 3rem;
        }
        
        
    }
    

